/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/
body {
    height: 100%;
    display: block;
  	margin: 0;
  	padding: 0;
  	font-family: 'Roboto', sans-serif;
}

/*wrapper for the header and first section*/
.wrap-learning-section {
	background: url(../images/code_hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
}

/*header*/
header {
	background: rgb(0, 0, 0, 0.8);
	padding: 10px;
	padding-top: 20px;
	display: flex;
    justify-content: space-around;
}

.trilogy-logo-header {
	max-height: 60px;
}

.header-text {
	text-align: end;
	font-size: 12px;
	color: white;
	line-height: 15px;
}

.phone-number {
	color: #38bcdb;
}

/*first section - learn coding*/
.learn-coding {
    display: flex;
    justify-content: space-around;
}

.left, .right {
	margin-top: 70px;
	margin-bottom: 90px;
}

/*left side of first section*/
.left { 
	margin-left: 60px;
	max-width: 280px;
	
}

.header-learn {
	font-size: 45px;
	color: white;
	font-weight: bold;
}

.header-starts {
	color: white;
	font-size: 17px;
}

.get-info-form {
	margin-top: 40px;
	background: rgba(255, 254, 254, 0.8);
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	width: 350px;
	line-height: 25px;
}

.form-title {
	font-size: 25px;
	font-weight: bold;
}

.form-sub-title {
	font-size: 12px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 15px;
}

.form-button {
	padding: 6px;
	width: 100%;
	background: #38bcdb;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	font-size: 25px;
	margin-top: 5px;
}

.form-button:hover {
	background: #2e91a3;
	cursor: pointer;
}

.arrow {
 	border: solid white;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 6px;
  	color: white;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}

/*right side of first section*/
.right {
	text-align: end;
	max-width: 300px;
	margin-right: 80px;
	color: white;
	line-height: 20px;
}

.coding-header, .data-header {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.coding-header {
	color: #38bcdb;
}

.coding {
	margin-bottom: 95px;
}

hr {
	padding: 1px;
	background: white;
}

.blue-hr {
	background: #38bcdb;
	border: 1px solid #38bcdb;
	margin-left: -15%;
    width: 114%;
}

/*second section - featuring*/
.wrap-featuring-section {
	background: url(../images/featuring.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	color: white;
	padding: 25px;
}

.featuring {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin: 30px;
	font-size: 15px;
	line-height: 20px;
}

.featuring-header {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
}

.featuring-left, .featuring-right {
	max-width: 300px;
}

.icon {
	max-width: 80px;
	margin: 20px;
}

.iphone-img {
	max-width: 260px;
    max-height: 360px;
    margin-top: 25px;
}

.complete {
	margin-top: 44px;
}

.featuring-footer {
	font-size: 10px;
	text-align: center;
	margin-bottom: 20px;
}

/*third section - our story*/
.our-story {
	background: url(../images/about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	text-align: center;
	color: white;
	padding: 70px;
}

.our-story-heading {
	color: #38bcdb;
	text-decoration: underline;
	font-size: 30px;
	margin-bottom: 30px;
}

.our-story-text {
	max-width: 800px;
	font-size: 18px;
	line-height: 25px;
	margin: 0 auto
}

/*Fourth section - FAQ*/
.wrap-FAQ-section {
	background: url(../images/faq.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: start;
	color: black;
	padding: 80px;
	height: 500px;
	line-height: 40px;
	font-size: 18px;
}

.FAQ {
	max-width: 600px;
	margin-left: 130px;
}

.FAQ-header {
	font-size: 30px;
	text-decoration: underline;
	margin-bottom: 30px;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

/*toggle css*/
.accordion {
	height: 20px;
    width: 20px;
	border-radius: 50%;
	background: #38bcdb;
	cursor: pointer;
	transition: 0.4s;
	outline: none;
}

.active, .accordion:hover {
   	cursor: pointer;
}

.accordion:after {
	margin-left: -1px;
	margin-bottom: -1px;
	content: ">";
    color: black;
}

.active {
	background: black;
}

.active:after {
    content: "v";
    color: #38bcdb;
    margin-left: -1px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*footer*/
footer {
	display: flex;
	justify-content: space-around;
	background: rgb(105, 202, 227);
	padding: 40px;
}
.trilogy-logo-footer {
	max-width: 400px;
}

.footer-text {
	list-style-type: none;
	text-align: end;
	max-width: 370px;
	line-height: 20px;
}

b {
	font-weight: bold;
}

/*mobile layout*/
@media only screen and (max-width: 375px) {
	/*taking care of the postioning and images first*/
	header, .learn-coding, .featuring, footer {
		display: block;
	}

	.wrap-learning-section {
		background: url(../images/mobile/code_mobile_hero.jpg);
		background-repeat: no-repeat;
	}

	.wrap-featuring-section {
		background: url(../images/mobile/featuring_mobile.jpg);
		background-repeat: no-repeat;
	}

	.our-story {
		background: url(../images/mobile/about_mobile.jpg);
		background-repeat: no-repeat;
	}

	.wrap-FAQ-section {
		background: url(../images/mobile/fap_mobile.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 900px;
		line-height: 30px;
		padding: 0px;
	}
	
	/*starting from the top and going down*/
	header {
		background: black;
	}

	.get-info-form {
		width: 240px;
	}

	.featuring {
		line-height: 20px;
		margin: 10px;
	}

	.iphone-img {
		max-height: 240px;
	}

	.FAQ-header {
		text-align: center;
	}

	.FAQ {
		padding: 20px;
		margin-left: 20px;
	}

	.footer-text {
		text-align: center;
	}
}