/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/
body {
  	font-family: 'Roboto', sans-serif;

}

.slideshow-container {
	display: none;
}

/*wrapper for the header and first section*/
.wrap-learning-section {
	background: url(../images/code_hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
}

/*nav*/
nav {
	display: flex;
    justify-content: space-around;
	background: rgb(0, 0, 0, 0.8);
	padding: 10px;
	padding-top: 20px;
}

.trilogy-logo-header {
	max-height: 60px;
}

.header-text {
	text-align: end;
	font-size: 12px;
	line-height: 15px;
	color: white;
	max-width: 204px;
}

.phone-number {
	color: #38bcdb;
}

/*first section - learn coding*/
.learn-coding {
    display: flex;
    justify-content: space-around;
}

.left, .right {
	margin-top: 70px;
	margin-bottom: 90px;
}

/*left side of first section*/
.left { 
	margin-left: 60px;
	max-width: 280px;	
}

.header-learn {
	font-size: 45px;
	color: white;
	font-weight: bold;
}

.header-starts {
	color: white;
	font-size: 17px;
}

.get-info-form {
	background: rgba(255, 254, 254, 0.8);
	width: 350px;
	padding: 5px;
	margin-top: 40px;
	border-radius: 5px;
	text-align: center;
	line-height: 25px;
}

.form-title {
	font-size: 25px;
	font-weight: bold;
}

.form-sub-title {
	font-size: 12px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 15px;
}

.form-button {
	background: #38bcdb;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 25px;	
}

.form-button:hover {
	background: #2e91a3;
	cursor: pointer;
}

.arrow {
	display: inline-block;
	padding: 6px;
 	border: solid white;
  	border-width: 0 3px 3px 0;	
  	color: white;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}

/*right side of first section*/
.right {
	max-width: 300px;
	margin-right: 80px;
	text-align: end;
	color: white;
	line-height: 20px;
}

.coding-header, .data-header {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.coding-header {
	color: #38bcdb;
}

.coding {
	margin-bottom: 95px;
}

hr {
	padding: 1px;
	background: white;
}

.blue-hr {
	width: 114%;
	margin-left: -15%;
	background: #38bcdb;
	border: 1px solid #38bcdb;    
}

/*second section - featuring*/
.wrap-featuring-section {
	background: url(../images/featuring.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	color: white;
	padding: 25px;
}

.featuring {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin: 30px;
	font-size: 15px;
	line-height: 20px;
}

.featuring-header {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
}

.featuring-left, .featuring-right {
	max-width: 300px;
}

.icon {
	max-width: 80px;
	margin: 20px;
}

.iphone-img {
	max-width: 260px;
    max-height: 360px;
    margin-top: 25px;
}

.complete {
	margin-top: 44px;
}

.featuring-footer {
	font-size: 10px;
	text-align: center;
	margin-bottom: 20px;
}

/*third section - our story*/
.our-story {
	background: url(../images/about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	text-align: center;
	color: white;
	padding: 70px;
}

.our-story-heading {
	color: #38bcdb;
	text-decoration: underline;
	font-size: 30px;
	margin-bottom: 30px;
}

.our-story-text {
	max-width: 800px;
	font-size: 18px;
	line-height: 25px;
	margin: 0 auto
}

/*Fourth section - FAQ*/
.wrap-FAQ-section {
	background: url(../images/faq.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: start;
	color: black;
	padding: 80px;
	height: 500px;
	line-height: 40px;
	font-size: 18px;
}

.FAQ {
	max-width: 600px;
	margin-left: 130px;
}

.FAQ-header {
	font-size: 30px;
	text-decoration: underline;
	margin-bottom: 30px;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

/*toggle css*/
.accordion {
	height: 20px;
    width: 20px;
	border-radius: 50%;
	background: #38bcdb;
	cursor: pointer;
	transition: 0.4s;
	outline: none;
}

.active, .accordion:hover {
   	cursor: pointer;
}

.accordion:after {
	margin-left: -1px;
	margin-bottom: -1px;
	content: ">";
    color: black;
}

.active {
	background: black;
}

.active:after {
    content: "v";
    color: #38bcdb;
    margin-left: -1px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*footer*/
footer {
	display: flex;
	justify-content: space-around;
	background: rgb(105, 202, 227);
	padding: 40px;
}

.trilogy-logo-footer {
	max-width: 400px;
}

.footer-text {
	list-style-type: none;
	text-align: end;
	max-width: 370px;
	line-height: 20px;
}

b {
	font-weight: bold;
}

/*mobile layout*/
@media only screen and (max-width: 880px) {
	.learn-coding {
		display: block;
		height: 850px;
	}

	.FAQ {
		line-height: 20px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 375px) {
	/*taking care of the postioning and images first*/
	* {
		box-sizing:border-box;
		background-repeat: no-repeat;
	}

	header, .learn-coding, .featuring, footer {
		display: block;
	}

	.wrap-learning-section {
		background: white;
	}

	.wrap-featuring-section {
		background: url(../images/mobile/featuring_mobile.jpg);
		background-repeat: no-repeat;
		position: relative;
	}

	.our-story {
		background: url(../images/mobile/about_mobile.jpg);
		background-repeat: no-repeat;
	}

	.wrap-FAQ-section {
		background: url(../images/mobile/fap_mobile.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 850px;
		line-height: 30px;
		padding: 0px;
	}

	/* Slideshow container */
	.slideshow-container {
	  	max-width: 1000px;
	  	position: relative;
	  	margin: auto;
	  	display: block;
	  	height: 240px;
	}

	.mySlides {
	    display: none;
	}

	.prev, .next {
	  	cursor: pointer;
	 	position: absolute;
	  	top: 50%;
	  	width: auto;
	  	margin-top: -22px;
	  	padding: 16px;
	  	color: white;
	  	font-weight: bold;
	  	font-size: 18px;
	  	transition: 0.6s ease;
	  	border-radius: 0 3px 3px 0;
	}

	.next {
	  	right: 0;
	  	border-radius: 3px 0 0 3px;
	}

	.prev:hover, .next:hover {
	  	background-color: rgba(0,0,0,0.8);
	}

	.header-learn-slide {
		font-size: 23px;
		font-weight: bold;
	}
	
	.mobile-hr {
		padding: 2px;
		background: #38bcdb;
		border: 1px solid #38bcdb; 
	}

	.text {
	  	color: #f2f2f2;
	  	font-size: 15px;
	  	padding: 8px 12px;
	  	position: absolute;
	  	bottom: 8%;
    	left: 10%;
    	width: 80%;
	  	text-align: center;
	  	line-height: 27px;
	}

	.numbertext {
	  	color: #f2f2f2;
	  	font-size: 12px;
	  	padding: 8px 12px;
	  	position: absolute;
	  	top: 0;
	}

	.dot {
	  	cursor: pointer;
	  	height: 15px;
	  	width: 15px;
	  	margin: 0 2px;
	  	background-color: #bbb;
	  	border-radius: 50%;
	  	display: inline-block;
	  	transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  	background-color: #717171;
	}

	.fade {
	  	-webkit-animation-name: fade;
	  	-webkit-animation-duration: 1.5s;
	  	animation-name: fade;
	  	animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
	  	from {opacity: .4} 
	  	to {opacity: 1}
	}

	@keyframes fade {
	  	from {opacity: .4} 
	  	to {opacity: 1}
	}
	
	/*starting from the top and going down*/
	/*first section*/
	nav {
		background: black;
		display: table;
		width: 100%;
	}

	.header-text {
		display: table-header-group;
		text-align: center;
		line-height: 40px;
		font-size: 14px;
	}

	.trilogy-logo-header {
	    display: table-footer-group;
	    margin: 0 auto;
	}

	.right, .header-learn, .header-starts {
		display: none;
	}

	.learn-coding {
		height: 150px;
		background: white;
	}

	.left {
		margin: 0px;
		background: white;
	}

	.get-info-form {
		width: 375px;
		margin: 0px;
		border-radius: 0;
		background: white;
		padding: 16px;
	}
	
	/*second section*/
	.featuring {
		line-height: 20px;
		margin: 10px;
		margin-top: 330px;
	}

	.iphone-img {
		position: absolute;
	    top: 50px;
	    left: 25%;
	    max-height: 300px;
	}

	.complete {
		margin-top: 0px;
	}

	/*forth section*/
	.FAQ-header {
		text-align: center;
		font-size: 25px;
	}

	.FAQ {
		padding: 20px;
		margin-left: 20px;
	}
	
	/*footer*/
	.footer-text {
		text-align: center;
	}
}